<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ global_vars.brand }} - {% block title %}{% endblock %}</title>
        <link href="/static/main.css" rel="stylesheet">
        <link href="/static/famfamfam-silk.css" rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock %}

        <br />
        <footer>
        <span>BRAIN Control Panel {{ global_vars.version_string }} &copy; National Oceanography Centre 2025</span><br />
        <span>Icons by Mark James (famfamfam) CC-BY 4.0</span>
        </footer>
    </body>
</html>
