{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<main>
    <h1>{{ global_vars.brand }} Control Panel</h1>

    <h2>Status: <span id="status_headline">javascript disabled :(</span></h2>
    <dl id="status_box">
        <dt>Model loaded</dt>
        <dd>unknown</dd>
        <dt>Model state</dt>
        <dd>unknown</dd>
        <dt>Camera state</dt>
        <dd>unknown</dd>
        <dt>NFS daemon state</dt>
        <dd>unknown</dd>
    </dl>

    <img id="cam_view" src="/static/no-image.jpg" style="width:100mm; max-width: 100%;" /><br />

    <script>
document.getElementById("status_headline").innerText = "unknown";

let currentStatus = {}

let fillDescriptionList = (currentStatus) => {
    document.getElementById("status_box").innerHTML = "";
    let dt = document.createElement("dt");
    let dd = document.createElement("dd");
    dt.innerText = "Model loaded";
    if (currentStatus.hasOwnProperty("model_loaded")) {
        dd.innerText = currentStatus["model_loaded"];
        if (currentStatus["model_loaded"] == null) {
            dd.innerText = "none";
        }
    } else {
        dd.innerText = "unknown";
    }
    document.getElementById("status_box").append(dt);
    document.getElementById("status_box").append(dd);
    dt = document.createElement("dt");
    dd = document.createElement("dd");
    dt.innerText = "Model state";
    if (currentStatus.hasOwnProperty("accepting_inference")) {
        dd.innerText = currentStatus["accepting_inference"] ? "ready for images" : "not available";
    } else {
        dd.innerText = "unknown";
    }
    document.getElementById("status_box").append(dt);
    document.getElementById("status_box").append(dd);


    dt = document.createElement("dt");
    dd = document.createElement("dd");
    dt.innerText = "Camera state";
    dd.innerText = currentStatus["camera"];
    if (currentStatus.hasOwnProperty("camera")) {
        if (currentStatus["camera"] == null) {
            dd.innerText = "not mounted";
        }
    } else {
        dd.innerText = "unknown";
    }
    document.getElementById("status_box").append(dt);
    document.getElementById("status_box").append(dd);
    dt = document.createElement("dt");
    dd = document.createElement("dd");
    dt.innerText = "NFS daemon state";
    if (currentStatus.hasOwnProperty("nfs_host_daemon_ok")) {
        dd.innerText = currentStatus["nfs_host_daemon_ok"] ? "responsive" : "not responding";
    } else {
        dd.innerText = "unknown";
    }
    document.getElementById("status_box").append(dt);
    document.getElementById("status_box").append(dd);
}

let fetchStatus = () => {
    var xhr = new XMLHttpRequest();

    xhr.onload = () => {
        currentStatus = JSON.parse(xhr.responseText);
        document.getElementById("status_headline").innerText = currentStatus["status"];
        fillDescriptionList(currentStatus);
        document.getElementById("cam_view").src = "/api/v1/frame?" + Date.now();
    };
    xhr.ontimeout = (e) => {
        document.getElementById("status_headline").innerText = "offline"
        fillDescriptionList({});
        document.getElementById("cam_view").src = "/static/no-image.jpg"
    };
    xhr.onerror = (e) => {
        document.getElementById("status_headline").innerText = "offline"
        fillDescriptionList({});
        document.getElementById("cam_view").src = "/static/no-image.jpg"
    };
    xhr.timeout = 3000;
    xhr.open("GET", "/api/v1/status", true);
    xhr.send();

}

window.setInterval(fetchStatus, 1000)
    </script>

    {% if session_info %}
    <span>Logged in as {{ session_info.sub }}</span> <a class="navbar-brand" href="/logout"><button>Logout <div class="famfamfam-silk icon-door_out"></div></button></a>
    {% else %}
    <a class="navbar-brand" href="/login"><button>Login <div class="famfamfam-silk icon-door_in"></div></button></a><span> to access full control panel</span>
    {% endif %}

    {% if session_info %}
    <h2>System settings</h2>

    <h3>Set the active vision model</h3>

    <form action="/api/v1/set_vision_model" method="post">
        <label for="model">Vision model</label>
        <select name="model">
            {% for mn in local_vars.available_models %}
            <option value="{{ mn }}">{{ mn }}</option>
            {% endfor %}
        </select><br />

        <button type="submit">Set vision model <div class="famfamfam-silk icon-bricks"></div></button>
    </form>

    <h3>Upload a new vision model</h3>

    <form action="/api/v1/upload_model" method="post" enctype="multipart/form-data">
        <label for="file">YOLO v11 (or lower) model file (.pt)</label>
        <input type="file" name="file" required /><br/>

        <!-- <button type="submit">Login <div class="famfamfam-silk icon-computer_go"></div></button> -->

        <button type="submit">Upload <div class="famfamfam-silk icon-page_white_get"></div></button>
    </form>
    {% endif %}
</main>

{% endblock %}
